[paths]
source = coherence

[run]
omit =
    */tests*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
ignore_errors = True
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*