language: python
python:
  - '3.6-dev'
  - '3.7-dev'
before_install:
  - sudo apt-get update
  - sudo apt-get install libgirepository1.0-dev python3-gi python3-gi-cairo gir1.2-gtk-3.0 python3-gst-1.0
  - sudo apt-get install libdiscid0
install:
  - pip install --upgrade setuptools
  - pip install --upgrade cython
  - pip install -e git+https://github.com/fishstiqz/pycdb@master#egg=pycdb --no-dependencies
  - pip install -e git+https://github.com/JonnyJD/python-discid@master#egg=discid --no-dependencies
  - pip install service_identity
  - pip install python-coveralls==2.9.1
  - pip install pycodestyle
  - pip install pylint
  - pip install -e .[test]
script:
  - pycodestyle coherence --ignore=E402,W504
  - pylint -E coherence
  - nosetests --with-coverage --cover-erase --cover-package=coherence --cover-html
after_success:
  - coveralls
