include ChangeLog
include LICENCE
include MANIFEST.in
include NEWS
include README
recursive-include coherence/upnp/core/xml-service-descriptions *
recursive-include docs *
recursive-include misc *
recursive-include tests *
