include CHANGELOG.rst
include LICENCE
include MANIFEST.in
include README.rst
recursive-include coherence/upnp/core/xml-service-descriptions *
recursive-include docs *
recursive-include misc *
recursive-include tests *
